In [1]:
import pandas as pd

df = pd.read_csv(r'C:\Users\PC027\Desktop\Project\KOSPO공모전\전처리 데이터_수량증가\new_dataframe_3.csv',encoding='cp949')

In [2]:
df

,종가,육지 최저가,매수 건수,육지 체결건수,육지 체결물량,육지 매도물량,육지 매도건수,육지 평균가,총 거래건수,육지 상한가,...,년도,한국남동발전_RPS,한국남부발전_RPS,한국동서발전_RPS,한국서부발전_RPS,한국수력원자력_RPS,한국중부발전_RPS,SMP_최소,SMP_최대,SMP_평균
0,128000,128000,32,158,11530,245653,1556,130445,159,171600,...,2017,3137560,2203025,2277079,2241674,2915892,1985550,74.27,87.86,83.22
1,130000,125000,20,274,14899,156778,1374,130037,281,166400,...,2017,3137560,2203025,2277079,2241674,2915892,1985550,79.93,89.47,85.73
2,133500,120000,128,588,135260,283418,1614,132362,615,169000,...,2017,3137560,2203025,2277079,2241674,2915892,1985550,79.70,87.05,84.11
3,125500,125500,12,34,2231,185603,1259,126757,35,173500,...,2017,3137560,2203025,2277079,2241674,2915892,1985550,74.82,86.09,82.91
4,119000,119000,17,190,16198,192981,1190,128969,199,163100,...,2017,3137560,2203025,2277079,2241674,2915892,1985550,77.59,87.00,83.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749,74700,74700,45,3834,126304,243916,5138,74856,3848,82300,...,2024,6922425,6813810,6283884,7062062,11596908,8304797,80.03,156.04,115.59
750,72700,72700,52,1498,90601,251886,2790,73948,1505,82100,...,2024,6922425,6813810,6283884,7062062,11596908,8304797,86.17,151.16,123.00
751,67200,67000,92,1010,69358,347268,2157,68733,1022,79900,...,2024,6922425,6813810,6283884,7062062,11596908,8304797,80.77,160.16,129.20
752,66900,66900,98,1107,67084,184940,1887,67499,1114,73900,...,2024,6922425,6813810,6283884,7062062,11596908,8304797,91.18,162.48,129.52
753,62100,61300,59,823,85729,260551,1620,62684,828,73500,...,2024,6922425,6813810,6283884,7062062,11596908,8304797,82.02,145.88,124.52

# RPS 의무비율 
## 출처 - 한국에너지공단 신재생에너지센터
 - 2017 / 4.0%
 - 2018 / 5.0%
 - 2019 / 6.5%
 - 2020 / 7.0%
 - 2021 / 9.0%
 - 2022 / 12.5%
 - 2023 / 13%
 - 2024 / 13.5%

In [3]:
test= df

In [6]:
import numpy as np

# 조건 정의
conditions = [
    test['년도'] == 2017,
    test['년도'] == 2018,
    test['년도'] == 2019,
    test['년도'] == 2020,
    test['년도'] == 2021,
    test['년도'] == 2022,
    test['년도'] == 2023,
    test['년도'] == 2024
]

# 각 조건에 할당할 값 정의 
values = [4.0,5.0,6.5,7.0, 9.0, 12.5, 13, 13.5]

# 의무 RPS 비율 컬럼 생성 및 값 할당
test['의무RPS비율'] = np.select(conditions, values, default=np.nan)

test.head()

,종가,육지 최저가,매수 건수,육지 체결건수,육지 체결물량,육지 매도물량,육지 매도건수,육지 평균가,총 거래건수,육지 상한가,...,한국남동발전_RPS,한국남부발전_RPS,한국동서발전_RPS,한국서부발전_RPS,한국수력원자력_RPS,한국중부발전_RPS,SMP_최소,SMP_최대,SMP_평균,의무RPS비율
0,128000,128000,32,158,11530,245653,1556,130445,159,171600,...,3137560,2203025,2277079,2241674,2915892,1985550,74.27,87.86,83.22,4.0
1,130000,125000,20,274,14899,156778,1374,130037,281,166400,...,3137560,2203025,2277079,2241674,2915892,1985550,79.93,89.47,85.73,4.0
2,133500,120000,128,588,135260,283418,1614,132362,615,169000,...,3137560,2203025,2277079,2241674,2915892,1985550,79.70,87.05,84.11,4.0
3,125500,125500,12,34,2231,185603,1259,126757,35,173500,...,3137560,2203025,2277079,2241674,2915892,1985550,74.82,86.09,82.91,4.0
4,119000,119000,17,190,16198,192981,1190,128969,199,163100,...,3137560,2203025,2277079,2241674,2915892,1985550,77.59,87.00,83.82,4.0

## 경제 성장률 
### 출처 - 한국은행
 - 2017 / 3.4%
 - 2018 / 3.2%
 - 2019 / 2.3%
 - 2020 / -0.7%
 - 2021 / 4.6%
 - 2022 / 2.6%
 - 2023 / 1.4%
 - 2024 / 2.4%

In [7]:
import numpy as np

# 조건 정의
conditions = [
    test['년도'] == 2017,
    test['년도'] == 2018,
    test['년도'] == 2019,
    test['년도'] == 2020,
    test['년도'] == 2021,
    test['년도'] == 2022,
    test['년도'] == 2023,
    test['년도'] == 2024
]

# 각 조건에 할당할 값 정의 
values = [3.4,3.2,2.3,-0.7, 4.6, 2.6, 1.4, 2.4]

# 의무 RPS 비율 컬럼 생성 및 값 할당
test['경제성장률'] = np.select(conditions, values, default=np.nan)

test.head()

,종가,육지 최저가,매수 건수,육지 체결건수,육지 체결물량,육지 매도물량,육지 매도건수,육지 평균가,총 거래건수,육지 상한가,...,한국남부발전_RPS,한국동서발전_RPS,한국서부발전_RPS,한국수력원자력_RPS,한국중부발전_RPS,SMP_최소,SMP_최대,SMP_평균,의무RPS비율,경제성장률
0,128000,128000,32,158,11530,245653,1556,130445,159,171600,...,2203025,2277079,2241674,2915892,1985550,74.27,87.86,83.22,4.0,3.4
1,130000,125000,20,274,14899,156778,1374,130037,281,166400,...,2203025,2277079,2241674,2915892,1985550,79.93,89.47,85.73,4.0,3.4
2,133500,120000,128,588,135260,283418,1614,132362,615,169000,...,2203025,2277079,2241674,2915892,1985550,79.70,87.05,84.11,4.0,3.4
3,125500,125500,12,34,2231,185603,1259,126757,35,173500,...,2203025,2277079,2241674,2915892,1985550,74.82,86.09,82.91,4.0,3.4
4,119000,119000,17,190,16198,192981,1190,128969,199,163100,...,2203025,2277079,2241674,2915892,1985550,77.59,87.00,83.82,4.0,3.4

# 물가지수 확인

## 출처- 통계청
## 2024년은 11월 기준으로 소비자 물가동향 설정
### 2020년을 100으로 기준잡아서 물가동향을 계산함
 - 2017 / 97.6
 - 2018 / 99.1
 - 2019 / 99.5
 - 2020 / 100.00
 - 2021 / 102.50
 - 2022 / 107.72
 - 2023 / 111.59
 - 2024 / 114.40

In [8]:
# 조건 정의
conditions = [
    test['년도'] == 2017,
    test['년도'] == 2018,
    test['년도'] == 2019,
    test['년도'] == 2020,
    test['년도'] == 2021,
    test['년도'] == 2022,
    test['년도'] == 2023,
    test['년도'] == 2024
]

# 각 조건에 할당할 값 정의 
values = [97.6,99.1,99.5,100.00, 102.50, 107.72, 111.59, 114.40]

# 의무 RPS 비율 컬럼 생성 및 값 할당
test['물가지수'] = np.select(conditions, values, default=np.nan)

test.head()

,종가,육지 최저가,매수 건수,육지 체결건수,육지 체결물량,육지 매도물량,육지 매도건수,육지 평균가,총 거래건수,육지 상한가,...,한국동서발전_RPS,한국서부발전_RPS,한국수력원자력_RPS,한국중부발전_RPS,SMP_최소,SMP_최대,SMP_평균,의무RPS비율,경제성장률,물가지수
0,128000,128000,32,158,11530,245653,1556,130445,159,171600,...,2277079,2241674,2915892,1985550,74.27,87.86,83.22,4.0,3.4,97.6
1,130000,125000,20,274,14899,156778,1374,130037,281,166400,...,2277079,2241674,2915892,1985550,79.93,89.47,85.73,4.0,3.4,97.6
2,133500,120000,128,588,135260,283418,1614,132362,615,169000,...,2277079,2241674,2915892,1985550,79.70,87.05,84.11,4.0,3.4,97.6
3,125500,125500,12,34,2231,185603,1259,126757,35,173500,...,2277079,2241674,2915892,1985550,74.82,86.09,82.91,4.0,3.4,97.6
4,119000,119000,17,190,16198,192981,1190,128969,199,163100,...,2277079,2241674,2915892,1985550,77.59,87.00,83.82,4.0,3.4,97.6

In [9]:
test.to_csv(r'C:\Users\PC027\Desktop\Project\KOSPO공모전\전처리 데이터_수량증가\new_dataframe_4.csv',index=False,encoding='cp949')