In [11]:
import pandas as pd

df = pd.read_csv(r'C:\Users\PC027\Desktop\Project\KOSPO공모전\전처리 데이터\dataframe_1.csv')

In [12]:
df

,종가,육지 최저가,매수 건수,육지 체결건수,육지 체결물량,육지 매도물량,육지 매도건수,육지 평균가,총 거래건수,육지 상한가,...,육지 하한가,총 거래물량,거래금액,순번,육지_체결_가격_트랜드,육지_체결_가격_주기성분,육지_체결_건수_트랜드,육지_체결_건수_주기성분,육지_거래_규모_트랜드,육지_거래_규모_주기성분
0,128000,128000,32,158,11530,245653,1556,130445,159,171600,...,92400,11541,1505368100,1,130655.192010,1186.000466,213.019383,35.947576,21551.242874,824.788427
1,130000,125000,20,274,14899,156778,1374,130037,281,166400,...,89600,15372,1992110600,2,130490.254944,1207.296375,213.932938,32.787230,21648.037167,2732.524955
2,133500,120000,128,588,135260,283418,1614,132362,615,169000,...,91000,137838,18214692900,3,129912.975214,1185.776492,217.130378,0.517604,21986.817195,10822.075069
3,125500,125500,12,34,2231,185603,1259,126757,35,173500,...,93500,2345,295940200,4,129500.632550,1109.625870,219.414263,-35.089336,22228.802929,15032.618951
4,119000,119000,17,190,16198,192981,1190,128969,199,163100,...,87900,16466,2119942500,5,129335.695485,1069.475376,220.327817,-48.821082,22325.597222,15709.163003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749,74700,74700,45,3834,126304,243916,5138,74856,3848,82300,...,67500,127510,9537870300,750,76433.331714,-3158.840524,2494.235148,-62.970389,143336.941945,6684.327242
750,72700,72700,52,1498,90601,251886,2790,73948,1505,82100,...,67300,90871,6719294700,751,76444.260199,-3428.358041,2498.291701,-72.615687,143411.358860,7482.758375
751,67200,67000,92,1010,69358,347268,2157,68733,1022,79900,...,65500,71862,4936019000,752,76471.581411,-3813.082124,2508.433082,-110.361125,143597.401148,9164.877705
752,66900,66900,98,1107,67084,184940,1887,67499,1114,73900,...,60500,67454,4549989700,753,76482.509896,-3849.748007,2512.489635,-128.626703,143671.818063,9271.436211
753,62100,61300,59,823,85729,260551,1620,62684,828,73500,...,60300,85907,5382523900,754,76509.831108,-3732.284280,2522.631016,-171.296081,143857.860350,6866.115741

In [13]:
# df 불러온 뒤,
df['현물시장거래일'] = pd.to_datetime(df['현물시장거래일'])
df['년도'] = df['현물시장거래일'].dt.year

In [14]:
RPS_2020 = pd.read_csv(r'C:\Users\PC027\Desktop\Project\KOSPO공모전\REC 예측 관련데이터\RPS 공급의무자별 의무공급량\RPS_2020.csv',encoding='cp949')
RPS_2021 = pd.read_csv(r'C:\Users\PC027\Desktop\Project\KOSPO공모전\REC 예측 관련데이터\RPS 공급의무자별 의무공급량\RPS_2021.csv',encoding='cp949')
RPS_2022 = pd.read_csv(r'C:\Users\PC027\Desktop\Project\KOSPO공모전\REC 예측 관련데이터\RPS 공급의무자별 의무공급량\RPS_2022.csv',encoding='cp949')
RPS_2023 = pd.read_csv(r'C:\Users\PC027\Desktop\Project\KOSPO공모전\REC 예측 관련데이터\RPS 공급의무자별 의무공급량\RPS_2023.csv',encoding='cp949')
RPS_2024 = pd.read_csv(r'C:\Users\PC027\Desktop\Project\KOSPO공모전\REC 예측 관련데이터\RPS 공급의무자별 의무공급량\RPS_2024.csv',encoding='cp949')

In [15]:
RPS_2021

         기업명    년도 의무공급량(MWh) 의무공급량(REC)
0    한국수력원자력  2021  6,666,591  8,066,575
1     한국남동발전  2021  5,395,388  6,528,419
2     한국중부발전  2021  5,159,228  6,242,666
3     한국서부발전  2021  4,037,301  4,885,134
4     한국남부발전  2021  4,535,876  5,488,410
5     한국동서발전  2021  4,798,108  5,805,711
6   한국지역난방공사  2021    851,932  1,030,838
7    한국수자원공사  2021     61,533     74,455
8     SK E&S  2021    618,700    748,627
9     GS EPS  2021    592,527    716,958
10     GS 파워  2021    397,493    480,967
11    포스코에너지  2021  1,146,696  1,387,502
12   씨지앤율촌전력  2021    532,720    644,591
13  평택에너지서비스  2021    230,814    279,285
14      대륜발전  2021     61,239     74,099
15      에스파워  2021    350,614    424,243
16      포천파워  2021    249,678    302,110
17   동두천드림파워  2021    426,217    515,723
18  파주에너지서비스  2021    942,961  1,140,983
19    GS동해전력  2021    670,249    811,001
20    포천민자발전  2021    295,544    357,608
21     신평택발전  2021    500,547    605,662
22     나래에너지  2021    404,956    489,997

In [16]:
# RPS 데이터 합치기
RPS_total = pd.concat(
    [RPS_2020, RPS_2021, RPS_2022, RPS_2023, RPS_2024],
    ignore_index=True
)

In [17]:
# 각 RPS 데이터에서 기업명 추출
companies_2020 = set(RPS_2020["기업명"].unique())
companies_2021 = set(RPS_2021["기업명"].unique())
companies_2022 = set(RPS_2022["기업명"].unique())
companies_2023 = set(RPS_2023["기업명"].unique())
companies_2024 = set(RPS_2024["기업명"].unique())

# 5개 년도에 모두 존재하는 기업명
common_companies = (
    companies_2020 & 
    companies_2021 & 
    companies_2022 & 
    companies_2023 & 
    companies_2024
)

In [18]:
RPS_total['년도'].unique()

array([2020, 2021, 2022, 2023, 2024], dtype=int64)

In [19]:
RPS_total.columns

Index(['기업명', '년도', '의무공급량(MWh)', '의무공급량(REC)'], dtype='object')

In [20]:
common_companies

{'GS EPS',
 'GS동해전력',
 '대륜발전',
 '동두천드림파워',
 '신평택발전',
 '씨지앤율촌전력',
 '에스파워',
 '파주에너지서비스',
 '평택에너지서비스',
 '포천민자발전',
 '포천파워',
 '한국남동발전',
 '한국남부발전',
 '한국동서발전',
 '한국서부발전',
 '한국수력원자력',
 '한국수자원공사',
 '한국중부발전',
 '한국지역난방공사'}

In [22]:
# 위에서 구한 common_companies 만 필터
RPS_filtered = RPS_total[RPS_total["기업명"].isin(common_companies)]

In [23]:
# 원하는 컬럼을 피벗하여 기업명별 열 생성
pivot_rec = RPS_filtered.pivot(
    index='년도', 
    columns='기업명', 
    values='의무공급량(REC)'
)

In [24]:
pivot_rec

기업명,GS EPS,GS동해전력,대륜발전,동두천드림파워,신평택발전,씨지앤율촌전력,에스파워,파주에너지서비스,평택에너지서비스,포천민자발전,포천파워,한국남동발전,한국남부발전,한국동서발전,한국서부발전,한국수력원자력,한국수자원공사,한국중부발전,한국지역난방공사
년도,,,,,,,,,,,,,,,,,,,
2020,"497,728","546,175","71,099","421,115","129,745","497,429","360,169","932,059","316,211","307,083","203,931","5,712,435","4,578,489","4,555,345","4,148,958","5,457,644","57,057","4,077,056","831,368"
2021,"716,958","811,001","74,099","515,723","605,662","644,591","424,243","1,140,983","279,285","357,608","302,110","6,528,419","5,488,410","5,805,711","4,885,134","8,066,575","74,455","6,242,666","1,030,838"
2022,"1,444,851","1,195,192","176,418","978,704","936,598","1,112,228","857,895","1,765,752","507,242","765,959","685,129","8,856,179","10,307,740","8,885,190","9,181,857","12,793,228","122,745","9,943,964","1,881,474"
2023,"1,497,250","1,200,998","286,732","1,635,857","778,824","1,032,085","835,501","1,199,015","589,591","819,231","934,803","9,741,392","11,522,925","8,810,963","9,325,611","14,938,992","132,312","10,572,798","2,062,054"
2024,"1,386,445","994,583","254,543","1,413,802","906,714","913,147","806,143","1,903,870","540,077","661,913","824,174","9,345,274","9,198,644","8,483,243","9,533,784","15,655,826","131,232","11,211,476","1,970,190"

In [25]:
pivot_rec.columns = [str(col) + '_RPS' for col in pivot_rec.columns]

In [26]:
pivot_rec

,GS EPS_RPS,GS동해전력_RPS,대륜발전_RPS,동두천드림파워_RPS,신평택발전_RPS,씨지앤율촌전력_RPS,에스파워_RPS,파주에너지서비스_RPS,평택에너지서비스_RPS,포천민자발전_RPS,포천파워_RPS,한국남동발전_RPS,한국남부발전_RPS,한국동서발전_RPS,한국서부발전_RPS,한국수력원자력_RPS,한국수자원공사_RPS,한국중부발전_RPS,한국지역난방공사_RPS
년도,,,,,,,,,,,,,,,,,,,
2020,"497,728","546,175","71,099","421,115","129,745","497,429","360,169","932,059","316,211","307,083","203,931","5,712,435","4,578,489","4,555,345","4,148,958","5,457,644","57,057","4,077,056","831,368"
2021,"716,958","811,001","74,099","515,723","605,662","644,591","424,243","1,140,983","279,285","357,608","302,110","6,528,419","5,488,410","5,805,711","4,885,134","8,066,575","74,455","6,242,666","1,030,838"
2022,"1,444,851","1,195,192","176,418","978,704","936,598","1,112,228","857,895","1,765,752","507,242","765,959","685,129","8,856,179","10,307,740","8,885,190","9,181,857","12,793,228","122,745","9,943,964","1,881,474"
2023,"1,497,250","1,200,998","286,732","1,635,857","778,824","1,032,085","835,501","1,199,015","589,591","819,231","934,803","9,741,392","11,522,925","8,810,963","9,325,611","14,938,992","132,312","10,572,798","2,062,054"
2024,"1,386,445","994,583","254,543","1,413,802","906,714","913,147","806,143","1,903,870","540,077","661,913","824,174","9,345,274","9,198,644","8,483,243","9,533,784","15,655,826","131,232","11,211,476","1,970,190"

In [27]:
# df의 현물시장거래일로부터 년도 추출
df['현물시장거래일'] = pd.to_datetime(df['현물시장거래일'])
df['년도'] = df['현물시장거래일'].dt.year

# pivot_mwh의 인덱스 -> 컬럼
pivot_mwh = pivot_rec.reset_index()

df_merged = pd.merge(
    df,
    pivot_mwh,
    how='left',  # 필요에 따라 'inner' 등 변경
    on='년도'
)

In [28]:
df_merged

,종가,육지 최저가,매수 건수,육지 체결건수,육지 체결물량,육지 매도물량,육지 매도건수,육지 평균가,총 거래건수,육지 상한가,...,포천민자발전_RPS,포천파워_RPS,한국남동발전_RPS,한국남부발전_RPS,한국동서발전_RPS,한국서부발전_RPS,한국수력원자력_RPS,한국수자원공사_RPS,한국중부발전_RPS,한국지역난방공사_RPS
0,128000,128000,32,158,11530,245653,1556,130445,159,171600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,130000,125000,20,274,14899,156778,1374,130037,281,166400,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,133500,120000,128,588,135260,283418,1614,132362,615,169000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,125500,125500,12,34,2231,185603,1259,126757,35,173500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,119000,119000,17,190,16198,192981,1190,128969,199,163100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749,74700,74700,45,3834,126304,243916,5138,74856,3848,82300,...,"661,913","824,174","9,345,274","9,198,644","8,483,243","9,533,784","15,655,826","131,232","11,211,476","1,970,190"
750,72700,72700,52,1498,90601,251886,2790,73948,1505,82100,...,"661,913","824,174","9,345,274","9,198,644","8,483,243","9,533,784","15,655,826","131,232","11,211,476","1,970,190"
751,67200,67000,92,1010,69358,347268,2157,68733,1022,79900,...,"661,913","824,174","9,345,274","9,198,644","8,483,243","9,533,784","15,655,826","131,232","11,211,476","1,970,190"
752,66900,66900,98,1107,67084,184940,1887,67499,1114,73900,...,"661,913","824,174","9,345,274","9,198,644","8,483,243","9,533,784","15,655,826","131,232","11,211,476","1,970,190"
753,62100,61300,59,823,85729,260551,1620,62684,828,73500,...,"661,913","824,174","9,345,274","9,198,644","8,483,243","9,533,784","15,655,826","131,232","11,211,476","1,970,190"

In [29]:
df_merged.columns

Index(['종가', '육지 최저가', '매수 건수', '육지 체결건수', '육지 체결물량', '육지 매도물량', '육지 매도건수',
       '육지 평균가', '총 거래건수', '육지 상한가', '현물시장거래일', '매수 물량', '육지 최고가', '육지 하한가',
       '총 거래물량', '거래금액', '순번', '육지_체결_가격_트랜드', '육지_체결_가격_주기성분', '육지_체결_건수_트랜드',
       '육지_체결_건수_주기성분', '육지_거래_규모_트랜드', '육지_거래_규모_주기성분', '년도', 'GS EPS_RPS',
       'GS동해전력_RPS', '대륜발전_RPS', '동두천드림파워_RPS', '신평택발전_RPS', '씨지앤율촌전력_RPS',
       '에스파워_RPS', '파주에너지서비스_RPS', '평택에너지서비스_RPS', '포천민자발전_RPS', '포천파워_RPS',
       '한국남동발전_RPS', '한국남부발전_RPS', '한국동서발전_RPS', '한국서부발전_RPS', '한국수력원자력_RPS',
       '한국수자원공사_RPS', '한국중부발전_RPS', '한국지역난방공사_RPS'],
      dtype='object')

In [30]:
df_merged['년도'].unique()

array([2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024])

In [31]:
# 2017, 2018, 2019 데이터를 제거
df_filtered = df_merged[~df_merged['년도'].isin([2017, 2018, 2019])]

In [32]:
df_filtered

,종가,육지 최저가,매수 건수,육지 체결건수,육지 체결물량,육지 매도물량,육지 매도건수,육지 평균가,총 거래건수,육지 상한가,...,포천민자발전_RPS,포천파워_RPS,한국남동발전_RPS,한국남부발전_RPS,한국동서발전_RPS,한국서부발전_RPS,한국수력원자력_RPS,한국수자원공사_RPS,한국중부발전_RPS,한국지역난방공사_RPS
254,43000,41000,71,310,11548,70882,802,42047,311,48500,...,"307,083","203,931","5,712,435","4,578,489","4,555,345","4,148,958","5,457,644","57,057","4,077,056","831,368"
255,42100,41700,91,535,32463,98131,1251,43037,544,47300,...,"307,083","203,931","5,712,435","4,578,489","4,555,345","4,148,958","5,457,644","57,057","4,077,056","831,368"
256,42500,41000,114,670,32846,58631,1042,42047,672,46300,...,"307,083","203,931","5,712,435","4,578,489","4,555,345","4,148,958","5,457,644","57,057","4,077,056","831,368"
257,42200,41100,148,902,62733,111808,1382,42280,904,46700,...,"307,083","203,931","5,712,435","4,578,489","4,555,345","4,148,958","5,457,644","57,057","4,077,056","831,368"
258,44000,42200,100,816,51492,101680,1322,43420,821,46400,...,"307,083","203,931","5,712,435","4,578,489","4,555,345","4,148,958","5,457,644","57,057","4,077,056","831,368"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749,74700,74700,45,3834,126304,243916,5138,74856,3848,82300,...,"661,913","824,174","9,345,274","9,198,644","8,483,243","9,533,784","15,655,826","131,232","11,211,476","1,970,190"
750,72700,72700,52,1498,90601,251886,2790,73948,1505,82100,...,"661,913","824,174","9,345,274","9,198,644","8,483,243","9,533,784","15,655,826","131,232","11,211,476","1,970,190"
751,67200,67000,92,1010,69358,347268,2157,68733,1022,79900,...,"661,913","824,174","9,345,274","9,198,644","8,483,243","9,533,784","15,655,826","131,232","11,211,476","1,970,190"
752,66900,66900,98,1107,67084,184940,1887,67499,1114,73900,...,"661,913","824,174","9,345,274","9,198,644","8,483,243","9,533,784","15,655,826","131,232","11,211,476","1,970,190"
753,62100,61300,59,823,85729,260551,1620,62684,828,73500,...,"661,913","824,174","9,345,274","9,198,644","8,483,243","9,533,784","15,655,826","131,232","11,211,476","1,970,190"

In [33]:
df_filtered.to_csv(r'C:\Users\PC027\Desktop\Project\KOSPO공모전\전처리 데이터\dataframe_2.csv',index=False,encoding='cp949')

In [34]:
# 각 열의 NaN 값 개수 확인
nan_counts = df_filtered.isnull().sum()

print("각 열의 NaN 값 개수:")
print(nan_counts)

각 열의 NaN 값 개수:
종가               0
육지 최저가           0
매수 건수            0
육지 체결건수          0
육지 체결물량          0
육지 매도물량          0
육지 매도건수          0
육지 평균가           0
총 거래건수           0
육지 상한가           0
현물시장거래일          0
매수 물량            0
육지 최고가           0
육지 하한가           0
총 거래물량           0
거래금액             0
순번               0
육지_체결_가격_트랜드     0
육지_체결_가격_주기성분    0
육지_체결_건수_트랜드     0
육지_체결_건수_주기성분    0
육지_거래_규모_트랜드     0
육지_거래_규모_주기성분    0
년도               0
GS EPS_RPS       0
GS동해전력_RPS       0
대륜발전_RPS         0
동두천드림파워_RPS      0
신평택발전_RPS        0
씨지앤율촌전력_RPS      0
에스파워_RPS         0
파주에너지서비스_RPS     0
평택에너지서비스_RPS     0
포천민자발전_RPS       0
포천파워_RPS         0
한국남동발전_RPS       0
한국남부발전_RPS       0
한국동서발전_RPS       0
한국서부발전_RPS       0
한국수력원자력_RPS      0
한국수자원공사_RPS      0
한국중부발전_RPS       0
한국지역난방공사_RPS     0
dtype: int64

In [35]:
# NaN 값이 있는 열만 필터링
nan_counts = df_filtered.isnull().sum()
nan_counts = nan_counts[nan_counts > 0]  # NaN 값이 1개 이상 있는 열만 선택

print("NaN 값이 있는 열과 개수:")
print(nan_counts)

NaN 값이 있는 열과 개수:
Series([], dtype: int64)