In [1]:
import pandas as pd

df = pd.read_csv(r'C:\Users\PC027\Desktop\Project\KOSPO공모전\전처리 데이터\dataframe_3.csv',encoding='cp949')

In [2]:
df

,종가,육지 최저가,매수 건수,육지 체결건수,육지 체결물량,육지 매도물량,육지 매도건수,육지 평균가,총 거래건수,육지 상한가,...,한국남부발전_RPS,한국동서발전_RPS,한국서부발전_RPS,한국수력원자력_RPS,한국수자원공사_RPS,한국중부발전_RPS,한국지역난방공사_RPS,SMP_최소,SMP_최대,SMP_평균
0,43000,41000,71,310,11548,70882,802,42047,311,48500,...,"4,578,489","4,555,345","4,148,958","5,457,644","57,057","4,077,056","831,368",79.04,89.69,85.52
1,42100,41700,91,535,32463,98131,1251,43037,544,47300,...,"4,578,489","4,555,345","4,148,958","5,457,644","57,057","4,077,056","831,368",81.94,89.50,85.84
2,42500,41000,114,670,32846,58631,1042,42047,672,46300,...,"4,578,489","4,555,345","4,148,958","5,457,644","57,057","4,077,056","831,368",81.24,89.47,86.10
3,42200,41100,148,902,62733,111808,1382,42280,904,46700,...,"4,578,489","4,555,345","4,148,958","5,457,644","57,057","4,077,056","831,368",81.94,89.48,86.48
4,44000,42200,100,816,51492,101680,1322,43420,821,46400,...,"4,578,489","4,555,345","4,148,958","5,457,644","57,057","4,077,056","831,368",81.95,89.73,86.62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,74700,74700,45,3834,126304,243916,5138,74856,3848,82300,...,"9,198,644","8,483,243","9,533,784","15,655,826","131,232","11,211,476","1,970,190",80.03,156.04,115.59
496,72700,72700,52,1498,90601,251886,2790,73948,1505,82100,...,"9,198,644","8,483,243","9,533,784","15,655,826","131,232","11,211,476","1,970,190",86.17,151.16,123.00
497,67200,67000,92,1010,69358,347268,2157,68733,1022,79900,...,"9,198,644","8,483,243","9,533,784","15,655,826","131,232","11,211,476","1,970,190",80.77,160.16,129.20
498,66900,66900,98,1107,67084,184940,1887,67499,1114,73900,...,"9,198,644","8,483,243","9,533,784","15,655,826","131,232","11,211,476","1,970,190",91.18,162.48,129.52
499,62100,61300,59,823,85729,260551,1620,62684,828,73500,...,"9,198,644","8,483,243","9,533,784","15,655,826","131,232","11,211,476","1,970,190",82.02,145.88,124.52

# RPS 의무비율 
## 출처 - 한국에너지공단 신재생에너지센터
 - 2020 / 7.0%
 - 2021 / 9.0%
 - 2022 / 12.5%
 - 2023 / 13%
 - 2024 / 13.5%

In [3]:
test = df

In [4]:
import numpy as np

# 조건 정의
conditions = [
    test['년도'] == 2020,
    test['년도'] == 2021,
    test['년도'] == 2022,
    test['년도'] == 2023,
    test['년도'] == 2024
]

# 각 조건에 할당할 값 정의 
values = [7.0, 9.0, 12.5, 13, 13.5]

# 의무 RPS 비율 컬럼 생성 및 값 할당
test['의무RPS비율'] = np.select(conditions, values, default=np.nan)

test.head()

,종가,육지 최저가,매수 건수,육지 체결건수,육지 체결물량,육지 매도물량,육지 매도건수,육지 평균가,총 거래건수,육지 상한가,...,한국동서발전_RPS,한국서부발전_RPS,한국수력원자력_RPS,한국수자원공사_RPS,한국중부발전_RPS,한국지역난방공사_RPS,SMP_최소,SMP_최대,SMP_평균,의무RPS비율
0,43000,41000,71,310,11548,70882,802,42047,311,48500,...,"4,555,345","4,148,958","5,457,644","57,057","4,077,056","831,368",79.04,89.69,85.52,7.0
1,42100,41700,91,535,32463,98131,1251,43037,544,47300,...,"4,555,345","4,148,958","5,457,644","57,057","4,077,056","831,368",81.94,89.50,85.84,7.0
2,42500,41000,114,670,32846,58631,1042,42047,672,46300,...,"4,555,345","4,148,958","5,457,644","57,057","4,077,056","831,368",81.24,89.47,86.10,7.0
3,42200,41100,148,902,62733,111808,1382,42280,904,46700,...,"4,555,345","4,148,958","5,457,644","57,057","4,077,056","831,368",81.94,89.48,86.48,7.0
4,44000,42200,100,816,51492,101680,1322,43420,821,46400,...,"4,555,345","4,148,958","5,457,644","57,057","4,077,056","831,368",81.95,89.73,86.62,7.0

## 경제 성장률 
### 출처 - 한국은행
 - 2020 / -0.7%
 - 2021 / 4.6%
 - 2022 / 2.6%
 - 2023 / 1.4%
 - 2024 / 2.4%

In [5]:
# 조건 정의
conditions = [
    test['년도'] == 2020,
    test['년도'] == 2021,
    test['년도'] == 2022,
    test['년도'] == 2023,
    test['년도'] == 2024
]

# 각 조건에 할당할 값 정의 
values = [-0.7, 4.6, 2.6, 1.4, 2.4]

# 의무 RPS 비율 컬럼 생성 및 값 할당
test['경제성장률'] = np.select(conditions, values, default=np.nan)

test.head()

,종가,육지 최저가,매수 건수,육지 체결건수,육지 체결물량,육지 매도물량,육지 매도건수,육지 평균가,총 거래건수,육지 상한가,...,한국서부발전_RPS,한국수력원자력_RPS,한국수자원공사_RPS,한국중부발전_RPS,한국지역난방공사_RPS,SMP_최소,SMP_최대,SMP_평균,의무RPS비율,경제성장률
0,43000,41000,71,310,11548,70882,802,42047,311,48500,...,"4,148,958","5,457,644","57,057","4,077,056","831,368",79.04,89.69,85.52,7.0,-0.7
1,42100,41700,91,535,32463,98131,1251,43037,544,47300,...,"4,148,958","5,457,644","57,057","4,077,056","831,368",81.94,89.50,85.84,7.0,-0.7
2,42500,41000,114,670,32846,58631,1042,42047,672,46300,...,"4,148,958","5,457,644","57,057","4,077,056","831,368",81.24,89.47,86.10,7.0,-0.7
3,42200,41100,148,902,62733,111808,1382,42280,904,46700,...,"4,148,958","5,457,644","57,057","4,077,056","831,368",81.94,89.48,86.48,7.0,-0.7
4,44000,42200,100,816,51492,101680,1322,43420,821,46400,...,"4,148,958","5,457,644","57,057","4,077,056","831,368",81.95,89.73,86.62,7.0,-0.7

In [6]:
test['년도'].unique()

array([2020, 2021, 2022, 2023, 2024], dtype=int64)

# 물가지수 확인

## 출처- 통계청
## 2024년은 11월 기준으로 소비자 물가동향 설정
### 2020년을 100으로 기준잡아서 물가동향을 계산함
 - 2020 / 100.00
 - 2021 / 102.50
 - 2022 / 107.72
 - 2023 / 111.59
 - 2024 / 114.40

In [7]:
# 조건 정의
conditions = [
    test['년도'] == 2020,
    test['년도'] == 2021,
    test['년도'] == 2022,
    test['년도'] == 2023,
    test['년도'] == 2024
]

# 각 조건에 할당할 값 정의 
values = [100.00, 102.50, 107.72, 111.59, 114.40]

# 의무 RPS 비율 컬럼 생성 및 값 할당
test['물가지수'] = np.select(conditions, values, default=np.nan)

test.head()

,종가,육지 최저가,매수 건수,육지 체결건수,육지 체결물량,육지 매도물량,육지 매도건수,육지 평균가,총 거래건수,육지 상한가,...,한국수력원자력_RPS,한국수자원공사_RPS,한국중부발전_RPS,한국지역난방공사_RPS,SMP_최소,SMP_최대,SMP_평균,의무RPS비율,경제성장률,물가지수
0,43000,41000,71,310,11548,70882,802,42047,311,48500,...,"5,457,644","57,057","4,077,056","831,368",79.04,89.69,85.52,7.0,-0.7,100.0
1,42100,41700,91,535,32463,98131,1251,43037,544,47300,...,"5,457,644","57,057","4,077,056","831,368",81.94,89.50,85.84,7.0,-0.7,100.0
2,42500,41000,114,670,32846,58631,1042,42047,672,46300,...,"5,457,644","57,057","4,077,056","831,368",81.24,89.47,86.10,7.0,-0.7,100.0
3,42200,41100,148,902,62733,111808,1382,42280,904,46700,...,"5,457,644","57,057","4,077,056","831,368",81.94,89.48,86.48,7.0,-0.7,100.0
4,44000,42200,100,816,51492,101680,1322,43420,821,46400,...,"5,457,644","57,057","4,077,056","831,368",81.95,89.73,86.62,7.0,-0.7,100.0

In [8]:
test

,종가,육지 최저가,매수 건수,육지 체결건수,육지 체결물량,육지 매도물량,육지 매도건수,육지 평균가,총 거래건수,육지 상한가,...,한국수력원자력_RPS,한국수자원공사_RPS,한국중부발전_RPS,한국지역난방공사_RPS,SMP_최소,SMP_최대,SMP_평균,의무RPS비율,경제성장률,물가지수
0,43000,41000,71,310,11548,70882,802,42047,311,48500,...,"5,457,644","57,057","4,077,056","831,368",79.04,89.69,85.52,7.0,-0.7,100.0
1,42100,41700,91,535,32463,98131,1251,43037,544,47300,...,"5,457,644","57,057","4,077,056","831,368",81.94,89.50,85.84,7.0,-0.7,100.0
2,42500,41000,114,670,32846,58631,1042,42047,672,46300,...,"5,457,644","57,057","4,077,056","831,368",81.24,89.47,86.10,7.0,-0.7,100.0
3,42200,41100,148,902,62733,111808,1382,42280,904,46700,...,"5,457,644","57,057","4,077,056","831,368",81.94,89.48,86.48,7.0,-0.7,100.0
4,44000,42200,100,816,51492,101680,1322,43420,821,46400,...,"5,457,644","57,057","4,077,056","831,368",81.95,89.73,86.62,7.0,-0.7,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,74700,74700,45,3834,126304,243916,5138,74856,3848,82300,...,"15,655,826","131,232","11,211,476","1,970,190",80.03,156.04,115.59,13.5,2.4,114.4
496,72700,72700,52,1498,90601,251886,2790,73948,1505,82100,...,"15,655,826","131,232","11,211,476","1,970,190",86.17,151.16,123.00,13.5,2.4,114.4
497,67200,67000,92,1010,69358,347268,2157,68733,1022,79900,...,"15,655,826","131,232","11,211,476","1,970,190",80.77,160.16,129.20,13.5,2.4,114.4
498,66900,66900,98,1107,67084,184940,1887,67499,1114,73900,...,"15,655,826","131,232","11,211,476","1,970,190",91.18,162.48,129.52,13.5,2.4,114.4
499,62100,61300,59,823,85729,260551,1620,62684,828,73500,...,"15,655,826","131,232","11,211,476","1,970,190",82.02,145.88,124.52,13.5,2.4,114.4

In [9]:
test.to_csv(r'C:\Users\PC027\Desktop\Project\KOSPO공모전\전처리 데이터\dataframe_4.csv',index=False,encoding='cp949')