In [1]:
import pandas as pd

df = pd.read_csv(r'C:\Users\PC027\Desktop\Project\KOSPO공모전\전처리 데이터\dataframe_6.csv',encoding='cp949')

In [2]:
df

,종가,육지 최저가,매수 건수,육지 체결건수,육지 체결물량,육지 매도물량,육지 매도건수,육지 평균가,총 거래건수,육지 상한가,...,양수_거래량,연료전지_거래량,석탄가스화_거래량,태양_거래량,풍력_거래량,수력_거래량,해양_거래량,바이오_거래량,폐기물_거래량,기타_거래량
0,43000,41000,71,310,11548,70882,802,42047,311,48500,...,311.891579,211.694858,191.497931,247.426324,310.782841,221.183071,38.549171,322.927626,0.0,687.721
1,42100,41700,91,535,32463,98131,1251,43037,544,47300,...,311.891579,211.694858,191.497931,247.426324,310.782841,221.183071,38.549171,322.927626,0.0,687.721
2,42500,41000,114,670,32846,58631,1042,42047,672,46300,...,311.891579,211.694858,191.497931,247.426324,310.782841,221.183071,38.549171,322.927626,0.0,687.721
3,42200,41100,148,902,62733,111808,1382,42280,904,46700,...,311.891579,211.694858,191.497931,247.426324,310.782841,221.183071,38.549171,322.927626,0.0,687.721
4,44000,42200,100,816,51492,101680,1322,43420,821,46400,...,311.891579,211.694858,191.497931,247.426324,310.782841,221.183071,38.549171,322.927626,0.0,687.721
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,74700,74700,45,3834,126304,243916,5138,74856,3848,82300,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000
496,72700,72700,52,1498,90601,251886,2790,73948,1505,82100,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000
497,67200,67000,92,1010,69358,347268,2157,68733,1022,79900,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000
498,66900,66900,98,1107,67084,184940,1887,67499,1114,73900,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000
499,62100,61300,59,823,85729,260551,1620,62684,828,73500,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000

In [3]:
test = pd.read_csv(r'C:\Users\PC027\Desktop\Project\KOSPO공모전\REC 예측 관련데이터\전일전력수급실적\전일전력수급실적_202301.csv', encoding='cp949')

In [4]:
test

,전일 전력수급 실적 목록,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,번호,일시,설비용량,공급능력,최대전력(MW),NaN,NaN,공급예비력,예비율
1,NaN,NaN,(MW),(MW),전년,금년,증가율,(MW),(%)
2,1,2023.01.31. 09:00,"138,643","101,699","59,840","84,058",40.5,"17,641",21
3,2,2023.01.30. 09:00,"138,643","101,644","61,339","83,568",36.2,"18,076",21.6
4,3,2023.01.29. 19:00,"138,643","98,222","65,026","69,956",7.6,"28,266",40.4
5,4,2023.01.28. 19:00,"138,643","98,523","68,009","74,081",8.9,"24,442",33
6,5,2023.01.27. 10:00,"138,643","103,908","82,283","89,833",9.2,"14,075",15.7
7,6,2023.01.26. 11:00,"138,399","103,138","82,938","92,613",11.7,"10,525",11.4
8,7,2023.01.25. 18:00,"138,399","103,636","82,984","87,275",5.2,"16,361",18.7
9,8,2023.01.24. 19:00,"138,399","101,038","86,241","72,643",-15.8,"28,395",39.1
10,9,2023.01.23. 23:59,"138,399","100,500","83,085","62,575",-24.7,"37,925",60.6
11,10,2023.01.22. 23:59,"138,399","98,334","67,726","60,143",-11.2,"38,191",63.5
12,11,2023.01.21. 01:00,"138,399","99,057","72,105","68,910",-4.4,"30,147",43.7
13,12,2023.01.20. 10:00,"138,399","105,249","86,522","81,244",-6.1,"24,005",29.5
14,13,2023.01.19. 09:00,"138,399","103,674","87,884","84,465",-3.9,"19,209",22.7
15,14,2023.01.18. 10:00,"138,399","104,805","88,076","85,627",-2.8,"19,178",22.4
16,15,2023.01.17. 10:00,"138,280","107,179","87,579","86,815",-0.9,"20,364",23.5
17,16,2023.01.16. 18:00,"138,280","106,545","87,967","84,582",-3.8,"21,963",26
18,17,2023.01.15. 19:00,"138,280","103,949","70,090","69,166",-1.3,"34,783",50.3
19,18,2023.01.14. 11:00,"138,280","102,803","71,585","69,388",-3.1,"33,415",48.2
20,19,2023.01.13. 11:00,"138,280","104,134","87,278","81,907",-6.2,"22,227",27.1
21,20,2023.01.12. 09:00,"138,280","105,269","89,115","82,287",-7.7,"22,982",27.9
22,21,2023.01.11. 09:00,"138,280","103,840","88,365","83,078",-6,"20,762",25
23,22,2023.01.10. 09:00,"138,193","103,335","88,103","83,973",-4.7,"19,362",23.1
24,23,2023.01.09. 10:00,"138,193","102,864","85,301","84,683",-0.7,"18,181",21.5
25,24,2023.01.08. 19:00,"138,193","98,882","67,889","68,090",0.3,"30,792",45.2
26,25,2023.01.07. 19:00,"138,193","97,543","70,793","70,729",-0.1,"26,814",37.9
27,26,2023.01.06. 10:00,"138,193","100,386","85,425","86,606",1.4,"13,780",15.9
28,27,2023.01.05. 10:00,"138,193","103,422","84,761","89,012",5,"14,410",16.2
29,28,2023.01.04. 10:00,"138,193","105,387","89,352","87,191",-2.4,"18,196",20.9
30,29,2023.01.03. 09:00,"138,018","103,751","85,161","87,110",2.3,"16,641",19.1
31,30,2023.01.02. 18:00,"138,018","104,849","85,196","85,269",0.1,"19,580",23
32,31,2023.01.01. 19:00,"138,018","103,636","68,173","66,465",-2.5,"37,171",55.9

In [5]:
import os

path = r'C:\Users\PC027\Desktop\Project\KOSPO공모전\REC 예측 관련데이터\전일전력수급실적'

file_list = os.listdir(path)

file_list

['전일전력수급실적_202001.csv',
 '전일전력수급실적_202002.csv',
 '전일전력수급실적_202003.csv',
 '전일전력수급실적_202004.csv',
 '전일전력수급실적_202005.csv',
 '전일전력수급실적_202006.csv',
 '전일전력수급실적_202007.csv',
 '전일전력수급실적_202008.csv',
 '전일전력수급실적_202009.csv',
 '전일전력수급실적_202010.csv',
 '전일전력수급실적_202011.csv',
 '전일전력수급실적_202012.csv',
 '전일전력수급실적_202101.csv',
 '전일전력수급실적_202102.csv',
 '전일전력수급실적_202103.csv',
 '전일전력수급실적_202104.csv',
 '전일전력수급실적_202105.csv',
 '전일전력수급실적_202106.csv',
 '전일전력수급실적_202107.csv',
 '전일전력수급실적_202108.csv',
 '전일전력수급실적_202109.csv',
 '전일전력수급실적_202110.csv',
 '전일전력수급실적_202111.csv',
 '전일전력수급실적_202112.csv',
 '전일전력수급실적_202201.csv',
 '전일전력수급실적_202202.csv',
 '전일전력수급실적_202203.csv',
 '전일전력수급실적_202204.csv',
 '전일전력수급실적_202205.csv',
 '전일전력수급실적_202206.csv',
 '전일전력수급실적_202207.csv',
 '전일전력수급실적_202208.csv',
 '전일전력수급실적_202209.csv',
 '전일전력수급실적_202210.csv',
 '전일전력수급실적_202211.csv',
 '전일전력수급실적_202212.csv',
 '전일전력수급실적_202301.csv',
 '전일전력수급실적_202302.csv',
 '전일전력수급실적_202303.csv',
 '전일전력수급실적_202304.csv',
 '전일전력수급실적_202305.csv',
 '전일전력수급실적_202306.csv',
 '전일전력수급실적_202307.csv',
 '전일전력수급실적_202308.csv',
 '전일전력수급실적_202309.csv',
 '전일전력수급실적_202310.csv',
 '전일전력수급실적_202311.csv',
 '전일전력수급실적_202312.csv',
 '전일전력수급실적_202401.csv',
 '전일전력수급실적_202402.csv',
 '전일전력수급실적_202403.csv',
 '전일전력수급실적_202404.csv',
 '전일전력수급실적_202405.csv',
 '전일전력수급실적_202406.csv',
 '전일전력수급실적_202407.csv',
 '전일전력수급실적_202408.csv',
 '전일전력수급실적_202409.csv',
 '전일전력수급실적_202410.csv',
 '전일전력수급실적_202411.csv',
 '전일전력수급실적_202412.csv']

In [21]:
import os
import win32com.client

# 경로 설정
path = r'C:\Users\PC027\Desktop\Project\KOSPO공모전\REC 예측 관련데이터\전일전력수급실적'
output_path = path  # 변환된 CSV 파일 저장 경로 (필요 시 변경)

# 디렉토리의 모든 파일 리스트 가져오기
file_list = os.listdir(path)

# .xls 파일만 필터링
xls_files = [file for file in file_list if file.endswith('.xls')]

# Excel Application 객체 생성
excel = win32com.client.Dispatch("Excel.Application")
excel.DisplayAlerts = False  # 파일 저장 시 알림 비활성화

try:
    for xls_file in xls_files:
        xls_path = os.path.join(path, xls_file)  # 원본 파일 경로
        csv_file = os.path.splitext(xls_file)[0] + '.csv'  # 확장자를 .csv로 변경
        csv_path = os.path.join(output_path, csv_file)  # 저장할 파일 경로

        try:
            # Excel 파일 열기
            workbook = excel.Workbooks.Open(xls_path)
            
            # CSV로 저장
            workbook.SaveAs(csv_path, FileFormat=6)  # FileFormat=6은 CSV 형식
            workbook.Close()  # 파일 닫기

            print(f"Converted: {xls_file} -> {csv_file}")
        except Exception as e:
            print(f"Failed to convert {xls_file}: {e}")
finally:
    excel.Quit()  # Excel 프로세스 종료

Converted: 전일전력수급실적_202001.xls -> 전일전력수급실적_202001.csv
Converted: 전일전력수급실적_202002.xls -> 전일전력수급실적_202002.csv
Converted: 전일전력수급실적_202003.xls -> 전일전력수급실적_202003.csv
Converted: 전일전력수급실적_202004.xls -> 전일전력수급실적_202004.csv
Converted: 전일전력수급실적_202005.xls -> 전일전력수급실적_202005.csv
Converted: 전일전력수급실적_202006.xls -> 전일전력수급실적_202006.csv
Converted: 전일전력수급실적_202007.xls -> 전일전력수급실적_202007.csv
Converted: 전일전력수급실적_202008.xls -> 전일전력수급실적_202008.csv
Converted: 전일전력수급실적_202009.xls -> 전일전력수급실적_202009.csv
Converted: 전일전력수급실적_202010.xls -> 전일전력수급실적_202010.csv
Converted: 전일전력수급실적_202011.xls -> 전일전력수급실적_202011.csv
Converted: 전일전력수급실적_202012.xls -> 전일전력수급실적_202012.csv
Converted: 전일전력수급실적_202101.xls -> 전일전력수급실적_202101.csv
Converted: 전일전력수급실적_202102.xls -> 전일전력수급실적_202102.csv
Converted: 전일전력수급실적_202103.xls -> 전일전력수급실적_202103.csv
Converted: 전일전력수급실적_202104.xls -> 전일전력수급실적_202104.csv
Converted: 전일전력수급실적_202105.xls -> 전일전력수급실적_202105.csv
Converted: 전일전력수급실적_202106.xls -> 전일전력수급실적_202106.csv
Converted: 전일전력수급실적_202107.xls -> 전일전력수급실적_202107.csv
Converted: 전일전력수급실적_202108.xls -> 전일전력수급실적_202108.csv
Converted: 전일전력수급실적_202109.xls -> 전일전력수급실적_202109.csv
Converted: 전일전력수급실적_202110.xls -> 전일전력수급실적_202110.csv
Converted: 전일전력수급실적_202111.xls -> 전일전력수급실적_202111.csv
Converted: 전일전력수급실적_202112.xls -> 전일전력수급실적_202112.csv
Converted: 전일전력수급실적_202201.xls -> 전일전력수급실적_202201.csv
Converted: 전일전력수급실적_202202.xls -> 전일전력수급실적_202202.csv
Converted: 전일전력수급실적_202203.xls -> 전일전력수급실적_202203.csv
Converted: 전일전력수급실적_202204.xls -> 전일전력수급실적_202204.csv
Converted: 전일전력수급실적_202205.xls -> 전일전력수급실적_202205.csv
Converted: 전일전력수급실적_202206.xls -> 전일전력수급실적_202206.csv
Converted: 전일전력수급실적_202207.xls -> 전일전력수급실적_202207.csv
Converted: 전일전력수급실적_202208.xls -> 전일전력수급실적_202208.csv
Converted: 전일전력수급실적_202209.xls -> 전일전력수급실적_202209.csv
Converted: 전일전력수급실적_202210.xls -> 전일전력수급실적_202210.csv
Converted: 전일전력수급실적_202211.xls -> 전일전력수급실적_202211.csv
Converted: 전일전력수급실적_202212.xls -> 전일전력수급실적_202212.csv

# 데이터 변환 완료 데이터 정제

In [5]:
psadp = pd.read_csv(r'C:\Users\PC027\Desktop\Project\KOSPO공모전\REC 예측 관련데이터\전일전력수급실적\전일전력수급실적_202001.csv', encoding='cp949')

In [6]:
psadp

,전일 전력수급 실적 목록,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,번호,일시,설비용량,공급능력,최대전력(MW),NaN,NaN,공급예비력,예비율
1,NaN,NaN,(MW),(MW),전년,금년,증가율,(MW),(%)
2,1,2020.01.31. 10:00,"125,358","95,312","80,556","75,262",-6.6,"20,050",26.6
3,2,2020.01.30. 10:00,"125,358","95,263","83,652","74,457",-11,"20,806",27.9
4,3,2020.01.29. 10:00,"125,358","94,774","80,741","76,016",-5.9,"18,758",24.7
5,4,2020.01.28. 10:00,"125,358","93,600","81,215","72,476",-10.8,"21,124",29.1
6,5,2020.01.27. 19:00,"125,358","91,781","80,399","59,961",-25.4,"31,820",53.1
7,6,NaN,"125,358","91,368","65,189","55,281",-15.2,"36,087",65.3
8,7,NaN,"125,358","92,307","68,954","54,692",-20.7,"37,615",68.8
9,8,2020.01.24. 01:00,"125,358","94,657","81,007","60,789",-25,"33,868",55.7
10,9,2020.01.23. 10:00,"125,358","95,986","80,239","76,229",-5,"19,757",25.9
11,10,2020.01.22. 01:00,"125,358","94,816","80,794","81,438",0.8,"13,378",16.4
12,11,2020.01.21. 10:00,"125,358","95,606","81,134","79,627",-1.9,"15,979",20.1
13,12,2020.01.20. 10:00,"125,358","94,545","82,668","78,922",-4.5,"15,623",19.8
14,13,2020.01.19. 19:00,"125,358","92,976","65,830","64,497",-2,"28,479",44.2
15,14,2020.01.18. 09:00,"125,358","91,928","67,950","67,399",-0.8,"24,529",36.4
16,15,2020.01.17. 10:00,"125,358","94,484","81,668","81,303",-0.4,"13,181",16.2
17,16,2020.01.16. 10:00,"125,358","94,735","82,611","82,352",-0.3,"12,383",15
18,17,2020.01.15. 10:00,"125,353","95,018","84,401","81,195",-3.8,"13,823",17
19,18,2020.01.14. 10:00,"125,353","94,425","81,378","82,329",1.2,"12,096",14.7
20,19,2020.01.13. 10:00,"125,333","94,946","81,783","80,242",-1.9,"14,704",18.3
21,20,2020.01.12. 19:00,"125,333","93,783","64,545","64,008",-0.8,"29,775",46.5
22,21,2020.01.11. 01:00,"125,333","93,323","68,147","66,148",-2.9,"27,175",41.1
23,22,2020.01.10. 10:00,"125,333","95,000","81,941","79,247",-3.3,"15,753",19.9
24,23,2020.01.09. 10:00,"125,333","96,303","83,833","79,160",-5.6,"17,143",21.7
25,24,2020.01.08. 11:00,"125,333","95,463","85,392","79,002",-7.5,"16,461",20.8
26,25,2020.01.07. 11:00,"125,333","94,123","83,818","80,147",-4.4,"13,976",17.4
27,26,2020.01.06. 11:00,"125,333","93,842","84,074","81,890",-2.6,"11,952",14.6
28,27,2020.01.05. 19:00,"125,333","93,438","66,493","63,231",-4.9,"30,207",47.8
29,28,2020.01.04. 01:00,"125,333","94,481","69,496","65,628",-5.6,"28,853",44
30,29,2020.01.03. 10:00,"125,333","96,134","84,746","78,269",-7.6,"17,865",22.8
31,30,2020.01.02. 10:00,"125,333","95,372","84,196","77,180",-8.3,"18,192",23.6
32,31,2020.01.01. 01:00,"125,333","96,804","82,437","64,007",-22.4,"32,797",51.2

In [7]:
psadp.columns

Index(['전일 전력수급 실적 목록', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8'],
      dtype='object')

In [8]:
psadp = psadp.drop(columns={'Unnamed: 4','Unnamed: 5', 'Unnamed: 6'}, axis=1)

In [9]:
# 0번 행을 컬럼으로 설정
psadp.columns = psadp.iloc[0]  # 0번 행을 컬럼으로 설정
psadp = psadp.drop(index=0)    # 0번 행 제거
psadp = psadp.reset_index(drop=True)  # 인덱스 초기화

In [10]:
psadp = psadp.iloc[1:]

In [11]:
psadp2 = pd.read_csv(r'C:\Users\PC027\Desktop\Project\KOSPO공모전\REC 예측 관련데이터\전일전력수급실적\전일전력수급실적_202002.csv', encoding='cp949')

In [12]:
print(psadp2)

   전일 전력수급 실적 목록         Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4  \
0             번호                 일시       설비용량       공급능력   최대전력(MW)
1            NaN                NaN       (MW)       (MW)         전년
2              1  2020.02.29. 01:00    125,887     92,676     60,563
3              2  2020.02.28. 11:00    125,887     93,914     63,532
4              3  2020.02.27. 09:00    125,887     93,785     73,115
5              4  2020.02.26. 10:00    125,887     94,390     74,792
6              5  2020.02.25. 11:00    125,887     94,728     74,488
7              6  2020.02.24. 10:00    125,887     96,071     74,848
8              7  2020.02.23. 20:00    125,887     96,379     60,881
9              8                NaN    125,887     96,245     65,016
10             9  2020.02.21. 10:00    125,887     96,738     77,656
11            10  2020.02.20. 09:00    125,887     95,750     78,291
12            11  2020.02.19. 10:00    125,887     96,894     79,777
13            12  2020.02.18. 10:00    125,887     96,863     82,869
14            13  2020.02.17. 11:00    125,887     97,039     80,394
15            14  2020.02.16. 20:00    125,887     96,078     64,033
16            15  2020.02.15. 01:00    125,887     93,364     67,769
17            16  2020.02.14. 10:00    125,887     95,318     81,471
18            17  2020.02.13. 10:00    125,887     95,029     81,477
19            18  2020.02.12. 11:00    125,358     93,859     80,849
20            19  2020.02.11. 10:00    125,358     94,879     81,684
21            20  2020.02.10. 10:00    125,358     95,475     81,369
22            21  2020.02.09. 20:00    125,358     96,834     65,225
23            22  2020.02.08. 01:00    125,358     95,448     67,498
24            23  2020.02.07. 10:00    125,358     96,718     79,253
25            24  2020.02.06. 10:00    125,358     97,069     72,824
26            25  2020.02.05. 10:00    125,358     97,018     56,835
27            26  2020.02.04. 09:00    125,358     96,258     55,340
28            27  2020.02.03. 10:00    125,358     95,400     57,603
29            28  2020.02.02. 20:00    125,358     95,485     60,334
30            29  2020.02.01. 01:00    125,358     94,104     67,202

   Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8
0         NaN        NaN      공급예비력        예비율
1          금년        증가율       (MW)        (%)
2      61,341        1.3     31,335       51.1
3      74,398       17.1     19,516       26.2
4      70,327       -3.8     23,458       33.4
5      72,005       -3.7     22,385       31.1
6      76,417        2.6     18,311         24
7      71,041       -5.1     25,030       35.2
8      60,988        0.2     35,391         58
9      62,123       -4.4     34,122       54.9
10     73,398       -5.5     23,340       31.8
11     74,510       -4.8     21,240       28.5
12     77,972       -2.3     18,922       24.3
13     80,338       -3.1     16,525       20.6
14     80,648        0.3     16,391       20.3
15     63,497       -0.8     32,581       51.3
16     60,935      -10.1     32,429       53.2
17     72,476        -11     22,842       31.5
18     74,042       -9.1     20,987       28.3
19     77,688       -3.9     16,171       20.8
20     75,830       -7.2     19,049       25.1
21     76,445       -6.1     19,030       24.9
22     62,873       -3.6     33,961         54
23     65,470         -3     29,978       45.8
24     79,761        0.6     16,957       21.3
25     81,493       11.9     15,576       19.1
26     80,770       42.1     16,248       20.1
27     77,877       40.7     18,381       23.6
28     76,775       33.3     18,625       24.3
29     61,882        2.6     33,603       54.3
30     63,369       -5.7     30,735       48.5

In [13]:
def process_dataframe(df, columns_to_drop):
    """
    주어진 데이터프레임에 대해 특정 열 제거, 0번 행을 컬럼으로 설정, 초기화 과정 수행
    Args:
        df (pd.DataFrame): 처리할 데이터프레임
        columns_to_drop (list): 제거할 열 이름 목록
    Returns:
        pd.DataFrame: 처리된 데이터프레임
    """
    df = df.drop(columns=columns_to_drop, axis=1)  # 지정된 열 제거
    df.columns = df.iloc[0]  # 0번 행을 컬럼으로 설정
    df = df.drop(index=0)    # 0번 행 제거
    df = df.reset_index(drop=True)  # 인덱스 초기화
    df = df.iloc[1:]  # 1번 행부터 유지
    return df

# 예제 데이터프레임 처리
columns_to_drop = ['Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6']
psadp2 = process_dataframe(psadp2, columns_to_drop)

In [14]:
psadp2

0   번호                 일시     설비용량    공급능력   공급예비력   예비율
1    1  2020.02.29. 01:00  125,887  92,676  31,335  51.1
2    2  2020.02.28. 11:00  125,887  93,914  19,516  26.2
3    3  2020.02.27. 09:00  125,887  93,785  23,458  33.4
4    4  2020.02.26. 10:00  125,887  94,390  22,385  31.1
5    5  2020.02.25. 11:00  125,887  94,728  18,311    24
6    6  2020.02.24. 10:00  125,887  96,071  25,030  35.2
7    7  2020.02.23. 20:00  125,887  96,379  35,391    58
8    8                NaN  125,887  96,245  34,122  54.9
9    9  2020.02.21. 10:00  125,887  96,738  23,340  31.8
10  10  2020.02.20. 09:00  125,887  95,750  21,240  28.5
11  11  2020.02.19. 10:00  125,887  96,894  18,922  24.3
12  12  2020.02.18. 10:00  125,887  96,863  16,525  20.6
13  13  2020.02.17. 11:00  125,887  97,039  16,391  20.3
14  14  2020.02.16. 20:00  125,887  96,078  32,581  51.3
15  15  2020.02.15. 01:00  125,887  93,364  32,429  53.2
16  16  2020.02.14. 10:00  125,887  95,318  22,842  31.5
17  17  2020.02.13. 10:00  125,887  95,029  20,987  28.3
18  18  2020.02.12. 11:00  125,358  93,859  16,171  20.8
19  19  2020.02.11. 10:00  125,358  94,879  19,049  25.1
20  20  2020.02.10. 10:00  125,358  95,475  19,030  24.9
21  21  2020.02.09. 20:00  125,358  96,834  33,961    54
22  22  2020.02.08. 01:00  125,358  95,448  29,978  45.8
23  23  2020.02.07. 10:00  125,358  96,718  16,957  21.3
24  24  2020.02.06. 10:00  125,358  97,069  15,576  19.1
25  25  2020.02.05. 10:00  125,358  97,018  16,248  20.1
26  26  2020.02.04. 09:00  125,358  96,258  18,381  23.6
27  27  2020.02.03. 10:00  125,358  95,400  18,625  24.3
28  28  2020.02.02. 20:00  125,358  95,485  33,603  54.3
29  29  2020.02.01. 01:00  125,358  94,104  30,735  48.5

In [15]:
import os
import pandas as pd
from datetime import datetime, timedelta

# ========== 1) 경로 & 파일 목록 설정 ==========
path = r'C:\Users\PC027\Desktop\Project\KOSPO공모전\REC 예측 관련데이터\전일전력수급실적'
file_list = [f for f in os.listdir(path) if f.endswith('.csv')]

# ========== 2) 전처리 함수 ==========
def process_dataframe(df: pd.DataFrame, columns_to_drop: list) -> pd.DataFrame:
    """
    주어진 데이터프레임에 대해 특정 열 제거, 0번 행을 컬럼으로 설정, 초기화 과정 수행
    Args:
        df (pd.DataFrame): 처리할 데이터프레임
        columns_to_drop (list): 제거할 열 이름 목록
    Returns:
        pd.DataFrame: 처리된 데이터프레임
    """
    # 지정된 열 제거
    df = df.drop(columns=columns_to_drop, axis=1)
    
    # 0번 행을 새로운 컬럼명으로 설정
    df.columns = df.iloc[0]
    
    # 0번 행 제거
    df = df.drop(index=0)
    
    # 인덱스 초기화
    df = df.reset_index(drop=True)
    
    # 추가로 1번 행 제거(예시 코드에 나와 있으므로)
    df = df.iloc[1:].reset_index(drop=True)
    return df

# ========== 3) 결측 날짜(NaN) 채우기 함수 ==========
def fill_missing_dates(df: pd.DataFrame, date_col: str = '일시') -> pd.DataFrame:
    """
    '일시' 열의 NaN을 바로 윗행(직전 행)의 날짜 - 1일 로 채운다.
    시간은 의미 없으므로 '00:00'으로 통일.

    Args:
        df (pd.DataFrame): 처리할 데이터프레임
        date_col (str): 날짜가 들어있는 열 이름 (기본값: '일시')
    Returns:
        pd.DataFrame: '일시' 열의 결측이 채워진 데이터프레임
    """

    # 먼저 '일시' 컬럼을 datetime 파싱 시도
    # (CSV가 "YYYY.MM.DD. HH:MM" 형태라면 아래와 같이 포맷 지정. 아니라면 포맷 수정 필요.)
    def try_parse_date(x):
        try:
            return datetime.strptime(x, '%Y.%m.%d. %H:%M')
        except:
            return pd.NaT  # 파싱 실패 시 NaT로
    
    # 문자열로 변환 (혹시 float 등 다른 타입일 수 있으니)
    df[date_col] = df[date_col].astype(str)
    
    # datetime 형으로 변환 시도
    parsed_dates = df[date_col].apply(try_parse_date)
    
    # NaT(결측) 존재 시, 바로 이전 행 기준 하루 전날로 채움
    for i in range(len(parsed_dates)):
        if pd.isna(parsed_dates.iloc[i]):
            if i == 0:
                # 첫 행부터 NaN이라면 임의값(1900-01-01 00:00)으로 채움
                parsed_dates.iloc[i] = datetime(1900, 1, 1, 0, 0)
            else:
                # 직전 날짜에 하루 빼서 할당
                parsed_dates.iloc[i] = parsed_dates.iloc[i - 1] - timedelta(days=1)

    # 최종 날짜 컬럼을 다시 문자열 형태(예: YYYY.MM.DD. 00:00)로 저장
    df[date_col] = parsed_dates.apply(lambda d: d.strftime('%Y.%m.%d. 00:00'))
    
    return df

# ========== 4) 모든 CSV 처리하여 하나로 합치기 ==========
all_data = []
columns_to_drop = ['Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6']  # 예시

for file_name in file_list:
    csv_path = os.path.join(path, file_name)
    
    # CSV 로드
    tmp_df = pd.read_csv(csv_path, encoding='cp949')
    
    # (1) 전처리
    tmp_df = process_dataframe(tmp_df, columns_to_drop)
    
    # (2) 결측 날짜 채우기
    tmp_df = fill_missing_dates(tmp_df, date_col='일시')
    
    # 리스트에 추가
    all_data.append(tmp_df)

# ========== 5) 하나의 데이터프레임으로 병합 ==========
final_df = pd.concat(all_data, ignore_index=True)

# ========== 6) 결과 확인 ==========
print(final_df.head())
print("최종 행 개수:", len(final_df))

0 번호                 일시     설비용량    공급능력   공급예비력   예비율
0  1  2020.01.31. 00:00  125,358  95,312  20,050  26.6
1  2  2020.01.30. 00:00  125,358  95,263  20,806  27.9
2  3  2020.01.29. 00:00  125,358  94,774  18,758  24.7
3  4  2020.01.28. 00:00  125,358  93,600  21,124  29.1
4  5  2020.01.27. 00:00  125,358  91,781  31,820  53.1
최종 행 개수: 1840

In [16]:
final_df.head(30)

0   번호                 일시     설비용량    공급능력   공급예비력   예비율
0    1  2020.01.31. 00:00  125,358  95,312  20,050  26.6
1    2  2020.01.30. 00:00  125,358  95,263  20,806  27.9
2    3  2020.01.29. 00:00  125,358  94,774  18,758  24.7
3    4  2020.01.28. 00:00  125,358  93,600  21,124  29.1
4    5  2020.01.27. 00:00  125,358  91,781  31,820  53.1
5    6  2020.01.26. 00:00  125,358  91,368  36,087  65.3
6    7  2020.01.25. 00:00  125,358  92,307  37,615  68.8
7    8  2020.01.24. 00:00  125,358  94,657  33,868  55.7
8    9  2020.01.23. 00:00  125,358  95,986  19,757  25.9
9   10  2020.01.22. 00:00  125,358  94,816  13,378  16.4
10  11  2020.01.21. 00:00  125,358  95,606  15,979  20.1
11  12  2020.01.20. 00:00  125,358  94,545  15,623  19.8
12  13  2020.01.19. 00:00  125,358  92,976  28,479  44.2
13  14  2020.01.18. 00:00  125,358  91,928  24,529  36.4
14  15  2020.01.17. 00:00  125,358  94,484  13,181  16.2
15  16  2020.01.16. 00:00  125,358  94,735  12,383    15
16  17  2020.01.15. 00:00  125,353  95,018  13,823    17
17  18  2020.01.14. 00:00  125,353  94,425  12,096  14.7
18  19  2020.01.13. 00:00  125,333  94,946  14,704  18.3
19  20  2020.01.12. 00:00  125,333  93,783  29,775  46.5
20  21  2020.01.11. 00:00  125,333  93,323  27,175  41.1
21  22  2020.01.10. 00:00  125,333  95,000  15,753  19.9
22  23  2020.01.09. 00:00  125,333  96,303  17,143  21.7
23  24  2020.01.08. 00:00  125,333  95,463  16,461  20.8
24  25  2020.01.07. 00:00  125,333  94,123  13,976  17.4
25  26  2020.01.06. 00:00  125,333  93,842  11,952  14.6
26  27  2020.01.05. 00:00  125,333  93,438  30,207  47.8
27  28  2020.01.04. 00:00  125,333  94,481  28,853    44
28  29  2020.01.03. 00:00  125,333  96,134  17,865  22.8
29  30  2020.01.02. 00:00  125,333  95,372  18,192  23.6

In [17]:
print(final_df.head())

0 번호                 일시     설비용량    공급능력   공급예비력   예비율
0  1  2020.01.31. 00:00  125,358  95,312  20,050  26.6
1  2  2020.01.30. 00:00  125,358  95,263  20,806  27.9
2  3  2020.01.29. 00:00  125,358  94,774  18,758  24.7
3  4  2020.01.28. 00:00  125,358  93,600  21,124  29.1
4  5  2020.01.27. 00:00  125,358  91,781  31,820  53.1

In [18]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1840 entries, 0 to 1839
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   번호      1840 non-null   object
 1   일시      1840 non-null   object
 2   설비용량    1840 non-null   object
 3   공급능력    1840 non-null   object
 4   공급예비력   1840 non-null   object
 5   예비율     1840 non-null   object
dtypes: object(6)
memory usage: 86.4+ KB

In [19]:
df

,종가,육지 최저가,매수 건수,육지 체결건수,육지 체결물량,육지 매도물량,육지 매도건수,육지 평균가,총 거래건수,육지 상한가,...,양수_거래량,연료전지_거래량,석탄가스화_거래량,태양_거래량,풍력_거래량,수력_거래량,해양_거래량,바이오_거래량,폐기물_거래량,기타_거래량
0,43000,41000,71,310,11548,70882,802,42047,311,48500,...,311.891579,211.694858,191.497931,247.426324,310.782841,221.183071,38.549171,322.927626,0.0,687.721
1,42100,41700,91,535,32463,98131,1251,43037,544,47300,...,311.891579,211.694858,191.497931,247.426324,310.782841,221.183071,38.549171,322.927626,0.0,687.721
2,42500,41000,114,670,32846,58631,1042,42047,672,46300,...,311.891579,211.694858,191.497931,247.426324,310.782841,221.183071,38.549171,322.927626,0.0,687.721
3,42200,41100,148,902,62733,111808,1382,42280,904,46700,...,311.891579,211.694858,191.497931,247.426324,310.782841,221.183071,38.549171,322.927626,0.0,687.721
4,44000,42200,100,816,51492,101680,1322,43420,821,46400,...,311.891579,211.694858,191.497931,247.426324,310.782841,221.183071,38.549171,322.927626,0.0,687.721
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,74700,74700,45,3834,126304,243916,5138,74856,3848,82300,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000
496,72700,72700,52,1498,90601,251886,2790,73948,1505,82100,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000
497,67200,67000,92,1010,69358,347268,2157,68733,1022,79900,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000
498,66900,66900,98,1107,67084,184940,1887,67499,1114,73900,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000
499,62100,61300,59,823,85729,260551,1620,62684,828,73500,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000

In [20]:
df['현물시장거래일'].head()

0    2020-01-02
1    2020-01-07
2    2020-01-09
3    2020-01-14
4    2020-01-16
Name: 현물시장거래일, dtype: object

# 일시 + 현물시장거래일을 기준으로 merge하면 마무리

In [22]:
print(final_df)

0     번호                 일시     설비용량     공급능력   공급예비력   예비율
0      1  2020.01.31. 00:00  125,358   95,312  20,050  26.6
1      2  2020.01.30. 00:00  125,358   95,263  20,806  27.9
2      3  2020.01.29. 00:00  125,358   94,774  18,758  24.7
3      4  2020.01.28. 00:00  125,358   93,600  21,124  29.1
4      5  2020.01.27. 00:00  125,358   91,781  31,820  53.1
...   ..                ...      ...      ...     ...   ...
1835  13  2024.12.05. 00:00  152,821  103,447  27,072  35.4
1836  14  2024.12.04. 00:00  152,821  104,115  28,050  36.9
1837  15  2024.12.03. 00:00  152,821  104,117  26,448  34.1
1838  16  2024.12.02. 00:00  152,821  102,942  28,558  38.4
1839  17  2024.12.01. 00:00  152,821   98,520  35,728  56.9

[1840 rows x 6 columns]

In [24]:
print(final_df['일시'])

0       2020.01.31. 00:00
1       2020.01.30. 00:00
2       2020.01.29. 00:00
3       2020.01.28. 00:00
4       2020.01.27. 00:00
              ...
1835    2024.12.05. 00:00
1836    2024.12.04. 00:00
1837    2024.12.03. 00:00
1838    2024.12.02. 00:00
1839    2024.12.01. 00:00
Name: 일시, Length: 1840, dtype: object

In [25]:
print(df['현물시장거래일'])

0      2020-01-02
1      2020-01-07
2      2020-01-09
3      2020-01-14
4      2020-01-16
          ...
495    2024-12-03
496    2024-12-05
497    2024-12-10
498    2024-12-12
499    2024-12-17
Name: 현물시장거래일, Length: 500, dtype: object

In [23]:
print(df)

        종가  육지 최저가  매수 건수  육지 체결건수  육지 체결물량  육지 매도물량  육지 매도건수  육지 평균가  총 거래건수  \
0    43000   41000     71      310    11548    70882      802   42047     311
1    42100   41700     91      535    32463    98131     1251   43037     544
2    42500   41000    114      670    32846    58631     1042   42047     672
3    42200   41100    148      902    62733   111808     1382   42280     904
4    44000   42200    100      816    51492   101680     1322   43420     821
..     ...     ...    ...      ...      ...      ...      ...     ...     ...
495  74700   74700     45     3834   126304   243916     5138   74856    3848
496  72700   72700     52     1498    90601   251886     2790   73948    1505
497  67200   67000     92     1010    69358   347268     2157   68733    1022
498  66900   66900     98     1107    67084   184940     1887   67499    1114
499  62100   61300     59      823    85729   260551     1620   62684     828

     육지 상한가  ...      양수_거래량    연료전지_거래량   석탄가스화_거래량      태양_거래량      풍력_거래량  \
0     48500  ...  311.891579  211.694858  191.497931  247.426324  310.782841
1     47300  ...  311.891579  211.694858  191.497931  247.426324  310.782841
2     46300  ...  311.891579  211.694858  191.497931  247.426324  310.782841
3     46700  ...  311.891579  211.694858  191.497931  247.426324  310.782841
4     46400  ...  311.891579  211.694858  191.497931  247.426324  310.782841
..      ...  ...         ...         ...         ...         ...         ...
495   82300  ...    0.000000    0.000000    0.000000    0.000000    0.000000
496   82100  ...    0.000000    0.000000    0.000000    0.000000    0.000000
497   79900  ...    0.000000    0.000000    0.000000    0.000000    0.000000
498   73900  ...    0.000000    0.000000    0.000000    0.000000    0.000000
499   73500  ...    0.000000    0.000000    0.000000    0.000000    0.000000

         수력_거래량     해양_거래량     바이오_거래량  폐기물_거래량   기타_거래량
0    221.183071  38.549171  322.927626      0.0  687.721
1    221.183071  38.549171  322.927626      0.0  687.721
2    221.183071  38.549171  322.927626      0.0  687.721
3    221.183071  38.549171  322.927626      0.0  687.721
4    221.183071  38.549171  322.927626      0.0  687.721
..          ...        ...         ...      ...      ...
495    0.000000   0.000000    0.000000      0.0    0.000
496    0.000000   0.000000    0.000000      0.0    0.000
497    0.000000   0.000000    0.000000      0.0    0.000
498    0.000000   0.000000    0.000000      0.0    0.000
499    0.000000   0.000000    0.000000      0.0    0.000

[500 rows x 85 columns]

# 시간 변경 이후 데이터 병합

In [31]:
import pandas as pd

# 1. final_df의 '일시' 열을 날짜 형식으로 변환
final_df['일시_변환'] = pd.to_datetime(final_df['일시'], format='%Y.%m.%d. %H:%M').dt.date

# 2. df의 '현물시장거래일'을 날짜 형식으로 변환
df['현물시장거래일_변환'] = pd.to_datetime(df['현물시장거래일']).dt.date

# 3. 병합 수행
merged_df = pd.merge(final_df, df, left_on='일시_변환', right_on='현물시장거래일_변환', how='inner')

# 4. df 기준으로 고유한 행만 유지
merged_df = merged_df.drop_duplicates(subset=['현물시장거래일_변환'])

# 결과 출력
merged_df

,번호,일시,설비용량,공급능력,공급예비력,예비율,일시_변환,종가,육지 최저가,매수 건수,...,연료전지_거래량,석탄가스화_거래량,태양_거래량,풍력_거래량,수력_거래량,해양_거래량,바이오_거래량,폐기물_거래량,기타_거래량,현물시장거래일_변환
0,2,2020.01.30. 00:00,"125,358","95,263","20,806",27.9,2020-01-30,44000,42000,57,...,211.694858,191.497931,247.426324,310.782841,221.183071,38.549171,322.927626,0.0,687.721,2020-01-30
1,4,2020.01.28. 00:00,"125,358","93,600","21,124",29.1,2020-01-28,43500,42800,65,...,211.694858,191.497931,247.426324,310.782841,221.183071,38.549171,322.927626,0.0,687.721,2020-01-28
2,9,2020.01.23. 00:00,"125,358","95,986","19,757",25.9,2020-01-23,44900,41000,79,...,211.694858,191.497931,247.426324,310.782841,221.183071,38.549171,322.927626,0.0,687.721,2020-01-23
3,11,2020.01.21. 00:00,"125,358","95,606","15,979",20.1,2020-01-21,44600,41000,135,...,211.694858,191.497931,247.426324,310.782841,221.183071,38.549171,322.927626,0.0,687.721,2020-01-21
4,16,2020.01.16. 00:00,"125,358","94,735","12,383",15,2020-01-16,44000,42200,100,...,211.694858,191.497931,247.426324,310.782841,221.183071,38.549171,322.927626,0.0,687.721,2020-01-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
503,1,2024.12.17. 00:00,"152,833","108,091","27,031",33.3,2024-12-17,62100,61300,59,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000,2024-12-17
504,6,2024.12.12. 00:00,"152,833","102,817","23,521",29.7,2024-12-12,66900,66900,98,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000,2024-12-12
505,8,2024.12.10. 00:00,"152,821","101,819","23,000",29.2,2024-12-10,67200,67000,92,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000,2024-12-10
506,13,2024.12.05. 00:00,"152,821","103,447","27,072",35.4,2024-12-05,72700,72700,52,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000,2024-12-05
507,15,2024.12.03. 00:00,"152,821","104,117","26,448",34.1,2024-12-03,74700,74700,45,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000,2024-12-03

In [33]:
merged_df.columns

Index(['번호', '일시', '설비용량', '공급능력', '공급예비력', '예비율', '일시_변환', '종가', '육지 최저가',
       '매수 건수', '육지 체결건수', '육지 체결물량', '육지 매도물량', '육지 매도건수', '육지 평균가', '총 거래건수',
       '육지 상한가', '현물시장거래일', '매수 물량', '육지 최고가', '육지 하한가', '총 거래물량', '거래금액',
       '순번', '육지_체결_가격_트랜드', '육지_체결_가격_주기성분', '육지_체결_건수_트랜드', '육지_체결_건수_주기성분',
       '육지_거래_규모_트랜드', '육지_거래_규모_주기성분', '년도', 'GS EPS_RPS', 'GS동해전력_RPS',
       '대륜발전_RPS', '동두천드림파워_RPS', '신평택발전_RPS', '씨지앤율촌전력_RPS', '에스파워_RPS',
       '파주에너지서비스_RPS', '평택에너지서비스_RPS', '포천민자발전_RPS', '포천파워_RPS', '한국남동발전_RPS',
       '한국남부발전_RPS', '한국동서발전_RPS', '한국서부발전_RPS', '한국수력원자력_RPS', '한국수자원공사_RPS',
       '한국중부발전_RPS', '한국지역난방공사_RPS', 'SMP_최소', 'SMP_최대', 'SMP_평균', '의무RPS비율',
       '경제성장률', '물가지수', 'Dubai', 'Brent', 'WTI', 'Oman', '달러', '연도-월',
       '원자력_거래금액', '유연탄_거래금액', '무연탄_거래금액', '유류_거래금액', 'LNG_거래금액', '양수_거래금액',
       '연료전지_거래금액', '석탄가스화_거래금액', '태양_거래금액', '풍력_거래금액', '수력_거래금액', '해양_거래금액',
       '바이오_거래금액', '폐기물_거래금액', '기타_거래금액', '원자력_거래량', '유연탄_거래량', '무연탄_거래량',
       '유류_거래량', 'LNG_거래량', '양수_거래량', '연료전지_거래량', '석탄가스화_거래량', '태양_거래량',
       '풍력_거래량', '수력_거래량', '해양_거래량', '바이오_거래량', '폐기물_거래량', '기타_거래량',
       '현물시장거래일_변환'],
      dtype='object')

In [34]:
merged_df['일시']

0      2020.01.30. 00:00
1      2020.01.28. 00:00
2      2020.01.23. 00:00
3      2020.01.21. 00:00
4      2020.01.16. 00:00
             ...
503    2024.12.17. 00:00
504    2024.12.12. 00:00
505    2024.12.10. 00:00
506    2024.12.05. 00:00
507    2024.12.03. 00:00
Name: 일시, Length: 500, dtype: object

In [35]:
# 1. '일시' 열을 시간 타입으로 변환
merged_df['일시'] = pd.to_datetime(merged_df['일시'], format='%Y.%m.%d. %H:%M')

# 2. '일시' 열을 기준으로 데이터프레임 정렬
merged_df = merged_df.sort_values(by='일시').reset_index(drop=True)

# 결과 출력
print(merged_df)

     번호         일시     설비용량     공급능력   공급예비력   예비율       일시_변환     종가  육지 최저가  \
0    30 2020-01-02  125,333   95,372  18,192  23.6  2020-01-02  43000   41000
1    25 2020-01-07  125,333   94,123  13,976  17.4  2020-01-07  42100   41700
2    23 2020-01-09  125,333   96,303  17,143  21.7  2020-01-09  42500   41000
3    18 2020-01-14  125,353   94,425  12,096  14.7  2020-01-14  42200   41100
4    16 2020-01-16  125,358   94,735  12,383    15  2020-01-16  44000   42200
..   ..        ...      ...      ...     ...   ...         ...    ...     ...
495  15 2024-12-03  152,821  104,117  26,448  34.1  2024-12-03  74700   74700
496  13 2024-12-05  152,821  103,447  27,072  35.4  2024-12-05  72700   72700
497   8 2024-12-10  152,821  101,819  23,000  29.2  2024-12-10  67200   67000
498   6 2024-12-12  152,833  102,817  23,521  29.7  2024-12-12  66900   66900
499   1 2024-12-17  152,833  108,091  27,031  33.3  2024-12-17  62100   61300

     매수 건수  ...    연료전지_거래량   석탄가스화_거래량      태양_거래량      풍력_거래량      수력_거래량  \
0       71  ...  211.694858  191.497931  247.426324  310.782841  221.183071
1       91  ...  211.694858  191.497931  247.426324  310.782841  221.183071
2      114  ...  211.694858  191.497931  247.426324  310.782841  221.183071
3      148  ...  211.694858  191.497931  247.426324  310.782841  221.183071
4      100  ...  211.694858  191.497931  247.426324  310.782841  221.183071
..     ...  ...         ...         ...         ...         ...         ...
495     45  ...    0.000000    0.000000    0.000000    0.000000    0.000000
496     52  ...    0.000000    0.000000    0.000000    0.000000    0.000000
497     92  ...    0.000000    0.000000    0.000000    0.000000    0.000000
498     98  ...    0.000000    0.000000    0.000000    0.000000    0.000000
499     59  ...    0.000000    0.000000    0.000000    0.000000    0.000000

        해양_거래량     바이오_거래량 폐기물_거래량   기타_거래량  현물시장거래일_변환
0    38.549171  322.927626     0.0  687.721  2020-01-02
1    38.549171  322.927626     0.0  687.721  2020-01-07
2    38.549171  322.927626     0.0  687.721  2020-01-09
3    38.549171  322.927626     0.0  687.721  2020-01-14
4    38.549171  322.927626     0.0  687.721  2020-01-16
..         ...         ...     ...      ...         ...
495   0.000000    0.000000     0.0    0.000  2024-12-03
496   0.000000    0.000000     0.0    0.000  2024-12-05
497   0.000000    0.000000     0.0    0.000  2024-12-10
498   0.000000    0.000000     0.0    0.000  2024-12-12
499   0.000000    0.000000     0.0    0.000  2024-12-17

[500 rows x 93 columns]

In [37]:
merged_df.columns

Index(['번호', '일시', '설비용량', '공급능력', '공급예비력', '예비율', '일시_변환', '종가', '육지 최저가',
       '매수 건수', '육지 체결건수', '육지 체결물량', '육지 매도물량', '육지 매도건수', '육지 평균가', '총 거래건수',
       '육지 상한가', '현물시장거래일', '매수 물량', '육지 최고가', '육지 하한가', '총 거래물량', '거래금액',
       '순번', '육지_체결_가격_트랜드', '육지_체결_가격_주기성분', '육지_체결_건수_트랜드', '육지_체결_건수_주기성분',
       '육지_거래_규모_트랜드', '육지_거래_규모_주기성분', '년도', 'GS EPS_RPS', 'GS동해전력_RPS',
       '대륜발전_RPS', '동두천드림파워_RPS', '신평택발전_RPS', '씨지앤율촌전력_RPS', '에스파워_RPS',
       '파주에너지서비스_RPS', '평택에너지서비스_RPS', '포천민자발전_RPS', '포천파워_RPS', '한국남동발전_RPS',
       '한국남부발전_RPS', '한국동서발전_RPS', '한국서부발전_RPS', '한국수력원자력_RPS', '한국수자원공사_RPS',
       '한국중부발전_RPS', '한국지역난방공사_RPS', 'SMP_최소', 'SMP_최대', 'SMP_평균', '의무RPS비율',
       '경제성장률', '물가지수', 'Dubai', 'Brent', 'WTI', 'Oman', '달러', '연도-월',
       '원자력_거래금액', '유연탄_거래금액', '무연탄_거래금액', '유류_거래금액', 'LNG_거래금액', '양수_거래금액',
       '연료전지_거래금액', '석탄가스화_거래금액', '태양_거래금액', '풍력_거래금액', '수력_거래금액', '해양_거래금액',
       '바이오_거래금액', '폐기물_거래금액', '기타_거래금액', '원자력_거래량', '유연탄_거래량', '무연탄_거래량',
       '유류_거래량', 'LNG_거래량', '양수_거래량', '연료전지_거래량', '석탄가스화_거래량', '태양_거래량',
       '풍력_거래량', '수력_거래량', '해양_거래량', '바이오_거래량', '폐기물_거래량', '기타_거래량',
       '현물시장거래일_변환'],
      dtype='object')

In [38]:
merged_df = merged_df.drop(columns=['일시_변환','년도','연도-월','현물시장거래일_변환','현물시장거래일'],axis=1)
merged_df

,번호,일시,설비용량,공급능력,공급예비력,예비율,종가,육지 최저가,매수 건수,육지 체결건수,...,양수_거래량,연료전지_거래량,석탄가스화_거래량,태양_거래량,풍력_거래량,수력_거래량,해양_거래량,바이오_거래량,폐기물_거래량,기타_거래량
0,30,2020-01-02,"125,333","95,372","18,192",23.6,43000,41000,71,310,...,311.891579,211.694858,191.497931,247.426324,310.782841,221.183071,38.549171,322.927626,0.0,687.721
1,25,2020-01-07,"125,333","94,123","13,976",17.4,42100,41700,91,535,...,311.891579,211.694858,191.497931,247.426324,310.782841,221.183071,38.549171,322.927626,0.0,687.721
2,23,2020-01-09,"125,333","96,303","17,143",21.7,42500,41000,114,670,...,311.891579,211.694858,191.497931,247.426324,310.782841,221.183071,38.549171,322.927626,0.0,687.721
3,18,2020-01-14,"125,353","94,425","12,096",14.7,42200,41100,148,902,...,311.891579,211.694858,191.497931,247.426324,310.782841,221.183071,38.549171,322.927626,0.0,687.721
4,16,2020-01-16,"125,358","94,735","12,383",15,44000,42200,100,816,...,311.891579,211.694858,191.497931,247.426324,310.782841,221.183071,38.549171,322.927626,0.0,687.721
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,15,2024-12-03,"152,821","104,117","26,448",34.1,74700,74700,45,3834,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000
496,13,2024-12-05,"152,821","103,447","27,072",35.4,72700,72700,52,1498,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000
497,8,2024-12-10,"152,821","101,819","23,000",29.2,67200,67000,92,1010,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000
498,6,2024-12-12,"152,833","102,817","23,521",29.7,66900,66900,98,1107,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000
499,1,2024-12-17,"152,833","108,091","27,031",33.3,62100,61300,59,823,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000

In [39]:
merged_df.columns

Index(['번호', '일시', '설비용량', '공급능력', '공급예비력', '예비율', '종가', '육지 최저가', '매수 건수',
       '육지 체결건수', '육지 체결물량', '육지 매도물량', '육지 매도건수', '육지 평균가', '총 거래건수',
       '육지 상한가', '매수 물량', '육지 최고가', '육지 하한가', '총 거래물량', '거래금액', '순번',
       '육지_체결_가격_트랜드', '육지_체결_가격_주기성분', '육지_체결_건수_트랜드', '육지_체결_건수_주기성분',
       '육지_거래_규모_트랜드', '육지_거래_규모_주기성분', 'GS EPS_RPS', 'GS동해전력_RPS', '대륜발전_RPS',
       '동두천드림파워_RPS', '신평택발전_RPS', '씨지앤율촌전력_RPS', '에스파워_RPS', '파주에너지서비스_RPS',
       '평택에너지서비스_RPS', '포천민자발전_RPS', '포천파워_RPS', '한국남동발전_RPS', '한국남부발전_RPS',
       '한국동서발전_RPS', '한국서부발전_RPS', '한국수력원자력_RPS', '한국수자원공사_RPS', '한국중부발전_RPS',
       '한국지역난방공사_RPS', 'SMP_최소', 'SMP_최대', 'SMP_평균', '의무RPS비율', '경제성장률',
       '물가지수', 'Dubai', 'Brent', 'WTI', 'Oman', '달러', '원자력_거래금액', '유연탄_거래금액',
       '무연탄_거래금액', '유류_거래금액', 'LNG_거래금액', '양수_거래금액', '연료전지_거래금액', '석탄가스화_거래금액',
       '태양_거래금액', '풍력_거래금액', '수력_거래금액', '해양_거래금액', '바이오_거래금액', '폐기물_거래금액',
       '기타_거래금액', '원자력_거래량', '유연탄_거래량', '무연탄_거래량', '유류_거래량', 'LNG_거래량',
       '양수_거래량', '연료전지_거래량', '석탄가스화_거래량', '태양_거래량', '풍력_거래량', '수력_거래량',
       '해양_거래량', '바이오_거래량', '폐기물_거래량', '기타_거래량'],
      dtype='object')

In [41]:
merged_df = merged_df.rename(columns={'설비용량': '전력_설비용량', 
                                      '공급능력': '전력_공급능력', 
                                      '공급예비력': '전력_공급예비력', 
                                      '예비율': '전력_예비율'})

In [42]:
merged_df.columns

Index(['번호', '일시', '전력_설비용량', '전력_공급능력', '전력_공급예비력', '전력_예비율', '종가', '육지 최저가',
       '매수 건수', '육지 체결건수', '육지 체결물량', '육지 매도물량', '육지 매도건수', '육지 평균가', '총 거래건수',
       '육지 상한가', '매수 물량', '육지 최고가', '육지 하한가', '총 거래물량', '거래금액', '순번',
       '육지_체결_가격_트랜드', '육지_체결_가격_주기성분', '육지_체결_건수_트랜드', '육지_체결_건수_주기성분',
       '육지_거래_규모_트랜드', '육지_거래_규모_주기성분', 'GS EPS_RPS', 'GS동해전력_RPS', '대륜발전_RPS',
       '동두천드림파워_RPS', '신평택발전_RPS', '씨지앤율촌전력_RPS', '에스파워_RPS', '파주에너지서비스_RPS',
       '평택에너지서비스_RPS', '포천민자발전_RPS', '포천파워_RPS', '한국남동발전_RPS', '한국남부발전_RPS',
       '한국동서발전_RPS', '한국서부발전_RPS', '한국수력원자력_RPS', '한국수자원공사_RPS', '한국중부발전_RPS',
       '한국지역난방공사_RPS', 'SMP_최소', 'SMP_최대', 'SMP_평균', '의무RPS비율', '경제성장률',
       '물가지수', 'Dubai', 'Brent', 'WTI', 'Oman', '달러', '원자력_거래금액', '유연탄_거래금액',
       '무연탄_거래금액', '유류_거래금액', 'LNG_거래금액', '양수_거래금액', '연료전지_거래금액', '석탄가스화_거래금액',
       '태양_거래금액', '풍력_거래금액', '수력_거래금액', '해양_거래금액', '바이오_거래금액', '폐기물_거래금액',
       '기타_거래금액', '원자력_거래량', '유연탄_거래량', '무연탄_거래량', '유류_거래량', 'LNG_거래량',
       '양수_거래량', '연료전지_거래량', '석탄가스화_거래량', '태양_거래량', '풍력_거래량', '수력_거래량',
       '해양_거래량', '바이오_거래량', '폐기물_거래량', '기타_거래량'],
      dtype='object')

In [47]:
merged_df = merged_df.drop(columns=['번호','총 거래물량','순번'],axis=1)

1. 모델은 총 3가지 (정책변수 포함, 미포함, 단변량)
2. 정책 변수의 정의 
 : RPS 할당율, 소비자물가 상승률, 경제성장률, 환율(달러), 유가(Dubai,Brent,WTI,Oman)
3. 환경 변수들은 12월 자료가 없음 그래서 12월을 제외하고 분석 해야할수도있다.

In [46]:
len(merged_df.columns)

88

In [48]:
merged_df.head()

,일시,전력_설비용량,전력_공급능력,전력_공급예비력,전력_예비율,종가,육지 최저가,매수 건수,육지 체결건수,육지 체결물량,...,양수_거래량,연료전지_거래량,석탄가스화_거래량,태양_거래량,풍력_거래량,수력_거래량,해양_거래량,바이오_거래량,폐기물_거래량,기타_거래량
0,2020-01-02,"125,333","95,372","18,192",23.6,43000,41000,71,310,11548,...,311.891579,211.694858,191.497931,247.426324,310.782841,221.183071,38.549171,322.927626,0.0,687.721
1,2020-01-07,"125,333","94,123","13,976",17.4,42100,41700,91,535,32463,...,311.891579,211.694858,191.497931,247.426324,310.782841,221.183071,38.549171,322.927626,0.0,687.721
2,2020-01-09,"125,333","96,303","17,143",21.7,42500,41000,114,670,32846,...,311.891579,211.694858,191.497931,247.426324,310.782841,221.183071,38.549171,322.927626,0.0,687.721
3,2020-01-14,"125,353","94,425","12,096",14.7,42200,41100,148,902,62733,...,311.891579,211.694858,191.497931,247.426324,310.782841,221.183071,38.549171,322.927626,0.0,687.721
4,2020-01-16,"125,358","94,735","12,383",15,44000,42200,100,816,51492,...,311.891579,211.694858,191.497931,247.426324,310.782841,221.183071,38.549171,322.927626,0.0,687.721

In [45]:
merged_df['일시'].unique()

<DatetimeArray>
['2020-01-02 00:00:00', '2020-01-07 00:00:00', '2020-01-09 00:00:00',
 '2020-01-14 00:00:00', '2020-01-16 00:00:00', '2020-01-21 00:00:00',
 '2020-01-23 00:00:00', '2020-01-28 00:00:00', '2020-01-30 00:00:00',
 '2020-02-04 00:00:00',
 ...
 '2024-11-14 00:00:00', '2024-11-19 00:00:00', '2024-11-21 00:00:00',
 '2024-11-26 00:00:00', '2024-11-28 00:00:00', '2024-12-03 00:00:00',
 '2024-12-05 00:00:00', '2024-12-10 00:00:00', '2024-12-12 00:00:00',
 '2024-12-17 00:00:00']
Length: 500, dtype: datetime64[ns]

In [49]:
merged_df.to_csv(r'C:\Users\PC027\Desktop\Project\KOSPO공모전\전처리 데이터\dataframe_7.csv', encoding='cp949', index=False)